body{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: white;
    
}

#kategoria{
    background-color: goldenrod;
    color: white;
}
.title h1{
    color: white;
}
#termeknev{
    background-color: goldenrod;
    color: white;
}
#mennyiseg{
    background-color: goldenrod;
    color: white;
}
#egysegar{
    background-color: goldenrod;
    color: white;
}
#osszeg{
    background-color: goldenrod;
    color: white;
}

#fizetendo{
    background-color: goldenrod;
    color: white;
    text-align: center;
    
   
}

.gombok{
    display: flex;
    justify-content: center;
    
    
}
footer{
    text-align: center;
    margin: 50px;
}
.minden{
    display: flex;
   justify-content: center;
   
}

.title{
    display: flex;
    justify-content: center;
}

.Kategoria{
    margin: 20px;
}

.Termeknev{
    margin: 20px;
}

.Mennyiseg{
    margin: 20px;
}

.Egysegar{
    margin: 20px;
}

.Osszeg{
    margin: 20px;
}



.minden button{
    margin-left: 20px;
    margin-top: 30px;
    width: 80px;
    height: 60px;
    font-size: 3    0px;

}
